/* Custom Styles */
body {
    padding-top: 56px;
}

header.jumbotron {
    background: url('img/header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    margin-bottom: 0;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#about ul li {
    padding: 5px 0;
}

footer {
    margin-top: 20px;
}
